@model IEnumerable<Apoteket.UppgiftBE.Web.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="row">
    <div class="col-sm-4">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="col-sm-4">
        @Html.DisplayNameFor(model => model.Price)
    </div><br />

    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            @Html.DisplayFor(modelItem => item.Name)
        </div>
        <div class="col-sm-4">
            @Html.DisplayFor(modelItem => item.Price)
        </div>
        <br />
    }


    @*<div class="col-sm-4">
        <a class="btn btn-success" href="@Url.Action("Create", "Basket", new {id=1}, Request.Url.Scheme)">Köp</a>
    </div>*@

</div>